@import "../styles/theme.scss";

.box {
    display: inline-block;
    position: relative;

    .header {
        position: relative; // to have proper stacking order with .selected:before
        padding: 5px;
        border: 1px solid black; // TODO [RM]: theme
        background: lightblue; // TODO [RM]: theme
    }

    .operations {
        position: relative; // to have proper stacking order with .selected:before
        padding: 5px;
        border: 1px solid black; // TODO [RM]: theme
        border-top: 0;
        background: white; // TODO [RM]: theme
    }

    &.inaccessible {
        .header {
            background: lightgray; // TODO [RM]: theme
            border: 1px solid gray; // TODO [RM]: theme
        }

        .operations {
            border: 1px solid gray; // TODO [RM]: theme
            border-top: 0;
        }
    }

    &.selected {
        $space: 5px;
        &:before {
            content: "";
            position: absolute;
            top: -$space;
            right: -$space;
            bottom: -$space;
            left: -$space;
            border: $selected-border;
            background: $selected-background-color;
        }
    }
}