@import "../styles/theme.scss";

.box {
    .opcode {
        display: inline-block;
        width: 100px;
    }

    .input {
        display: inline-block;
    }

    &:hover {
        background: $hover-background-color;
    }
}
